.subjectLink svg {
    fill: white !important;
}

.actionBtnContainer {
    display: flex !important;
    flex-wrap: wrap;
}

.iconBtn {
    min-width: 20px !important;
    padding: 6px 6px !important;
    margin: 2px !important;
}