.subjectBtn {
    display: flex;
    justify-content: space-between;
}

.subjectsContainer {
    padding: 20px;
}

.subjectTitle {
    font-size: 30px;
    font-weight: 500;
}

.MuiTypography-root {
    text-align: center;
}

.search-icon-wrap {
    height: 100%;
    vertical-align: middle;
}