.groups {
    margin-top: 1rem !important;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.MuiSelect-root{
    width: 100% !important ;
}
