.entityHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.entityTableContainer{
  max-height: 75vh !important;
}
.entityHeaderTitle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500!important;
}
.entityHeaderButton{
  padding: 10px 16px !important;
}
.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}

.MuiDialogTitle-root {
  padding-bottom: 0.4rem !important;
}
@media screen and (max-width:450px){
.entityHeader {
  flex-flow: column wrap;
}
.entityHeaderTitle {
  margin-bottom: .5rem;
}
}