.StudentsConfirm {
    width: 350px !important;
    height: 100%;
    padding: 10px 10px !important;
}

.Dialog {
    overflow: hidden;
}

.StudentsConfirm .Title {
    text-align: center;
    color: black;
}

.StudentsConfirm .Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.StudentsConfirm .Icon {
    width: 50px !important;
    height: 50px !important;
    color: #3f51b5;
    margin: -10px auto 10px auto;
}

.StudentsConfirm .Message {
    margin: 10px auto;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.StudentsConfirm .Divider {
    margin-bottom: 10px;
}

.StudentsConfirm .Actions {
    width: 100%;
    justify-content: center;
}

.StudentsConfirm .Button {
    width: 100%;
    height: 40px;
    box-shadow: none;
    color: black;
}

.StudentsConfirm .Button:hover {
    box-shadow: none;
    outline: none;
}
