.Dialog {
    overflow: hidden;
}

.TransferDialog {
    width: 500px !important;
    height: 100% !important;
    padding: 5px 5px;
    overflow: hidden;
}

.Title h3 {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.TitleIcon {
    vertical-align: middle;
    font-size: 30px !important;
    margin: -3.5px 10px auto auto;
}

.Content  {
    margin-top: -10px;
}

.Actions {
    width: 100% !important;
    justify-content: center !important;
}

.Button {
    width: calc(50% - 10px);
    margin: 5px 5px !important;
    padding: 8px 25px 8px 25px !important;
    box-shadow: none !important;
    outline: none;
}

.Button:first-of-type {
    background: #e1e1e1;
    color: black;
    margin-right: 10px;
}

.Spinner {
    position: relative;
    left: 1.7%;
    margin: 94px 210px;
}
