.Dialog {
    overflow: hidden;
}

.ViewDialog {
    width: 680px !important;
    height: 100% !important;
}

.Title h3 {
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.TitleIcon {
    vertical-align: middle;
    font-size: 30px;
    margin: -3.5px 10px auto auto;
}

.Content  {
    padding-top: 25px;
}

.Actions {
    justify-content: flex-start !important;
}

.Button {
    margin: 5px 5px !important;
    padding: 8px 25px 8px 25px !important;
    background: #e1e1e1;
    color: black;
    box-shadow: none !important;
    outline: none;
}

.Spinner {
    position: relative;
    left: 1.7%;
    margin: 305px 300px;
}
