.noInputData {
    font-size: 24px !important;
    text-align: center !important;
    opacity: 0.9;
}

.table {
    min-width: 400px
}

.actionBtnContainer {
    display: flex;
    flex-wrap: wrap;
}

.iconBtn {
    min-width: 20px !important;
    padding: 6px 6px !important;
    margin: 2px !important;
}