.tableHeadTitle {
    display: flex !important;
    cursor: pointer;
    &:hover .sortingArrows svg {
        opacity: 1;
        transition: 0.3s linear;
    }
}

.sortingArrows svg {
    font-size: 1.25rem;
    padding: 2px;
    opacity: 0;
    transition: 0.3s linear;
}

.actionContainer {
    display: flex;
    flex-wrap: wrap;
    svg {
        fill: white !important;
    }
}

.iconBtn {
    min-width: 20px !important;
    padding: 6px 6px !important;
    margin: 2px !important;
}