.Table {
    width: 100%;
    height: auto;
    margin: 50px auto;
}

.Empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 42%;
    left: 44%;
}

.Empty h1 {
    font-weight: 500;
    font-size: 25px;
}

.EmptyIcon {
    font-size: 70px !important;
    margin-bottom: 20px;
    color: #3f51b5;
}
